@import url('https://fonts.cdnfonts.com/css/perpetua-titling-mt');
@import url('https://fonts.cdnfonts.com/css/minion-variable-concept');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Minion Variable Concept', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Perpetua Titling MT', serif;
}
